/*Schriftart einbinden*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
background-color: #1a1818;
}
body * {
  color: #fff;
  font-family: arial;
  font-family: 'Quicksand', sans-serif;
}
.dash-dropdown * {
  color: #111!important;
}


h1 {
    font-size: 22pt;
    font-weight:700;
    text-align: center;
    }

h2 {
font-size: 15pt;
font-weight:700;
text-align: center;
}

h3, h4, h5 {
font-size: 12pt;
font-weight:700;
text-align: left;
}

.rc-slider-track {
  background-color: #8B321F;
}

.rc-slider-dot-active {
  border-color: #8B321F;
}

.rc-slider-handle:hover, .rc-slider-handle:focus, .rc-slider-handle:active, .rc-slider-handle-dragging {
    border-color: #8B321F!important;
    box-shadow: none!important;
    }


.rc-slider-handle {
  background-color: #8B321F;
  border-color: #8B321F;
  border: solid 2px #8B321F;
}

.rc-slider-handle-active:active {
  border-color: #8B321F;
}

.rc-slider-mark-text {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #121317;
}


.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555 border-radius: 12px;
}

.button5:hover {
  background-color: #555555;
  color: white;
}

/***********************************/
/*Headerbereich*/

#header_div {
display: flex;
width: calc(100% - 60px);
justify-content: space-between;
background-color: #111;
border: 10px;
border-radius: 10px;
padding: 0 10px 20px;
margin: 20px;
}

#header_div > div:first-child, #header_div > div:nth-child(3) {
width: 30%;
}
#header_div > div:nth-child(2) {
width: 20%;
}
#header_div > div:first-child, #header_div > div:nth-child(2) {
    margin-left: 2%;
}


/***********************************/
/*Content*/
#content_div {
margin: 0 20px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 600px 1fr;
grid-gap: 20px;
}

#scatter_geo {
grid-area: 1 / 1 / 2 / 2;
}

#Scatter_3D {
grid-area: 1 / 2 / 2 / 3;
}

#small_multiples {
grid-area: 2 / 1 / 3 / 4;
}

#table_chart {
grid-area: 2 / 1 / 3 / 4;
}



#content_div > div {
    background-color: #111;
    border-radius: 10px;
    border: 10px solid #111;
}

#table_chart {
padding: 0 20px;

}
#table_chart * {
    color: #fff;
    border-style: none!important;
}
#table_chart tbody * {text-align: left;}
#table_chart tbody tr:nth-child(even) td, #table_chart tr:first-child *, #table_chart tr:nth-child(2) *  {background-color: #1a1818;}
#table_chart tbody tr:nth-child(odd) td {background-color: #111;}
#table_chart td {font-size: 13px;}

#table_chart .dash-filter--case {display: none;}

#table_chart .previous-next-container *:not(.current-page) {background-color: transparent;}
.column-header-name {padding-left: 5px;}


/***********************************/
/*Footerbereich*/

#footer {
width: calc(100% - 40px);
margin: 20px;
}

/***********************************/
/*Scrollbar*/

#small_multiples::-webkit-scrollbar {
  width: 1em;
}

#small_multiples::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#small_multiples::-webkit-scrollbar-thumb {
  background-color: #6c6c6c;
  outline: 1px solid #6c6c6c;
}